
@media screen and (max-width: 1200px) {
	
	.top_header ul li {
	    font-size: 13px;
	    padding: 11px 10px;
	}
	.top_header ul li a {
	    font-size: 13px;
	}
	.navbar-light .navbar-nav .nav-link {
	    padding: 0 10px;
	    font-size: 12px;
	}
	.navbar-light .navbar-nav .nav-item .nav-link:before{
		left: 10px;
	}
	.navbar-brand img{
		width: 170px;
	}
	.banner {
	    margin-top: -84px;
    	padding: 280px 0 140px;
	}
	.banner_text h2 {
	    font-size: 24px;
	    line-height: 33px;
	}
	.banner_text {
	    padding: 20px 55px;
	}
	.why_need_right h2.title {
	    font-size: 36px;
	    line-height: 45px;
	}
	p{
		font-size: 14px;
		line-height: 20px;
	}
	h2.title {
	    font-size: 24px;
	    line-height: 34px;
	}
	.section_wrapp_two_inner {
	    padding: 50px 40px;
	}
	.section_wrapp_four h3 {
	    font-size: 22px;
	    line-height: 34px;
	}
	.packages_box h2 {
	    font-size: 22px;
	    margin: 0 0 10px;
	}
	.packages_box h3 {
	    font-size: 14px;
	    margin: 0 0 10px;
	}
	.packages_box h5 {
	    font-size: 16px;
	    margin: 0 0 10px;
	}
	.packages_box h4 {
	    font-size: 14px;
	    margin: 0 0 10px;
	}
	.packages_box ul li {
	    font-size: 14px;
	    line-height: 28px;
	}
	.packages_box ul li:before {
	    background-size: 14px;
	    width: 14px;
	    height: 10px;
	    top: 10px;
	    left: -20px;
	}
	.standard .packages_content {
	    min-height: 420px;
	}
	.packages_box {
	    padding: 30px 20px 20px;
	}
	.packages_content {
	    min-height: 370px;
	}
	.scrollbar {
	    height: 350px;
	}
	.slick-slide img {
	    width: 100%;
	}
	.address ul li {
	    font-size: 14px;
	}
	.address ul li a {
	    font-size: 14px;
	}
	.footer_link ul li a {
	    font-size: 14px;
	}
	.logo_footer img{
		width: 170px;
	}

}

@media screen and (max-width: 1024px) {

}
/* XS Portrait */
@media screen and (max-width: 991px) {
.top_header ul li {
    font-size: 0;
    padding: 11px 10px;
}
.navbar-light .navbar-toggler{
	border: 0;
}
.navbar-light .navbar-toggler-icon{
	background-image: none;
	width: 25px;
	height:2px;
	background: #fff;
	position: relative;
	outline: none;
}
.navbar-light .navbar-toggler-icon:before{
	position: absolute;
	top: -8px;
	left: 0;
	width: 25px;
	height: 2px;
	background: #fff;
	content: "";
}
.navbar-light .navbar-toggler-icon:after{
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 25px;
	height: 2px;
	background: #fff;
	content: "";
}
button:focus{
	outline: none;
}
}
@media screen and (max-width:767px){

}
@media (max-width: 640px) {

}

/* XS Portrait */
@media (max-width: 580px) {

}

@media (max-width: 480px){


}
@media (max-width: 380px){

}
@media (max-width: 340px){

}